@font-face { 
  font-family: 'ProximaNova';    
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
	   url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), 
	   url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#svgFontName') format('svg'); 
  font-weight: 400;              
  font-style: normal; 
} 

@font-face { 
  font-family: 'ProximaNova';    
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
	   url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), 
	   url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#svgFontName') format('svg'); 
  font-weight: 300;              
  font-style: normal; 
} 

@font-face { 
  font-family: 'ProximaNova';    
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
	   url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'), 
	   url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#svgFontName') format('svg'); 
  font-weight: 700;              
  font-style: normal; 
} 

@font-face { 
  font-family: 'ProximaNova';    
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
	   url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'), 
	   url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#svgFontName') format('svg'); 
  font-weight:900;              
  font-style: normal; 
} 